@model DCS_new.Models.employeeModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <section class="text-lg-start">
        <style>
            .rounded-t-5 {
                border-top-left-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
            }


            .rounded-bl-lg-5 {
                border-bottom-left-radius: 0.5rem;
            }

        </style>
        <div class="card mb-3">
            <div class="row g-0 d-flex align-items-center">
                <div class="col-lg-4 d-none d-lg-flex">
                    <img src="~/Content/img/login.jpg" alt="Trendy Pants and Shoes"
                         class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
                </div>
                <div class="col-lg-8">
                    <div class="card-body py-5 px-md-5">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form2Example1">Email address</label>
                                @Html.TextBoxFor(x => x.email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.email, "", new { @class = "text-danger" })

                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="form2Example2">Password</label>
                                @Html.PasswordFor(x => x.password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.password, "", new { @class = "text-danger" })

                            </div>
                            
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-warning mb-4">LogIn</button>
                            <div class="form-group">
                                <label style="color:red;">@ViewBag.Notification</label>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

