@model DCS_new.Models.wageModel

@{
    ViewBag.Title = "Pay Wage";
    var month_wage = Convert.ToInt32(ViewData["this_month_wage_sum"]);

}

<h2>Pay Wage</h2>

<p>Total Amount to be paid(per month): <span style="background-color:yellow;">Rs. @ViewData["wage_sum"]/-</span></p>
<p>Total Amount to be paid(this month): <span style="background-color:yellow;">Rs. @ViewData["this_month_wage_sum"]/-</span></p>
<p>Business Id:<span>@Session["b_id"]</span></p>
<p>Business Name: <span>@ViewData["business_name"]</span></p>
<p>Current Date: <span>@ViewData["t_date"]</span></p>
<hr />
@using (Html.BeginForm())
{
    <div class="container">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label>Amount to be paid:</label>
            @Html.TextBoxFor(x => x.amount, new { @class = "form-control", disabled = "disabled", Value = ViewData["this_month_wage_sum"] })
            @Html.ValidationMessageFor(x => x.amount, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>Enter card no:</label>
            @Html.TextBoxFor(x => x.cardno, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.cardno, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>Enter CVV:</label>
            @Html.PasswordFor(x => x.cvv, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.cvv, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @if (month_wage == 0)
            {
                <button class="btn btn-primary" type="submit" disabled>Pay</button>
            }
            else
            {
                <button class="btn btn-primary" type="submit">Pay</button>
            }

        </div>
        <img src="~/Content/img/paylogo.png" alt="master" width="100"
             class="" />
    </div>
}
